*{
    margin:0;
    box-sizing:border-box;
}

/* The overall body part */
body {
    font-family: Arial, Lato, Calibri, sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-image: url('../img/sunset_mountain.jpg');
    background-size:cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: calc(100vh + 25vw + 80px);
    position:relative;
}